:host {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    z-index: 9999;
}

.modal {
    display: block;
    min-width: 600px;
    min-height: 150px;
    max-height: calc(100vh - 50px);
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    will-change: transform;
    opacity: 1;
    z-index: 10001;

    &-header {
        padding: 15px;

        &__title {
            margin: 0;
            font-size: 21px;
            font-weight: 600;
        }
    }

    &-content {
        padding: 15px;
    }
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
}

.overlay {
    z-index: 9999;
}