.game-starter {
    width: 200px;
    padding: 15px;
    margin-right: 20px;
    border: 1px solid #555;
    border-radius: 4px;

    &__remark {
        display: block;
        margin-bottom: 5px;
        font-size: 13px;
    }
}