.game-starter {
    width: 200px;
    padding: 15px;
    margin-right: 20px;
    border: 1px solid #555;
    border-radius: 4px;
}

.game-starter-btn {
    margin-top: 15px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #5CE65C;
    border: 1px solid #5CE65C
}