.game-grid {
    &__row {
        display: flex;
    }

    &__cell {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
        border: 1px solid #fff;
    }
}