:root {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 
 
 main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
    position: relative;
  }

.btn {
    width: 100%;
    padding: 5px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 5px;
}

.form {
    &__input {
        display: block;
        width: 100%;
        height: 35px;
        padding: 3px 10px;
        background-color: #fff;
        border: 1px solid #555;
        border-radius: 4px;

        &:focus {
            outline: none;
        }

        &--invalid {
            border: 1px solid red;
        }
    }

    &__error {
        margin-top: 3px;
        font-size: 13px;
        color: red
    }
}