.game-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__header {
        font-size: 32px;
        font-weight: 600;
    }

    &__retry-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    &__retry-btn {
        font-family: 'Sega Arcade';
        margin-top: 10px;
    }
}

.grs {
    margin-top: 20px;

    &__value,
    &__hyphen {
        font-size: 42px;
        font-weight: 600;
    }

    &__hyphen {
        margin: 0 10px;
    }
}